@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* font-family: 'Bebas Neue', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #161815;
}

/* ----------------------- HEADER INICIO ------------------- */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)),
        url(../img/lucario\ fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFFFF;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #13975e;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-txt {
    width: 70%;
}

.header-txt h1 {
    font-size: 120px;
    line-height: 130px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 25px;
}

.header-txt p {
    font-size: 18px;
    color: #c4c4c4;
    margin-bottom: 35px;
    border-left: 1px solid #FFFFFF;
    padding-left: 15px;
}

.btn-1 {
    display: inline-block;
    padding: 12px 35px;
    background-color: #13975e;
    border-radius: 10px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 25px;
}

.btn-1:hover {
    background-color: #19c67b;
}

.header-img {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.header-img a {
    margin-bottom: 40px;
}


/* ----------------------- HEADER FIN ------------------- */

/* ----------------------- INDEX MAIN INICIO ------------------- */

.pokemon {
    padding: 100px 0;
    text-align: center;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-size: 85px;
    line-height: 95px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

p {
    font-size: 18px;
    color: #c4c4c4;
}

.pokemon-content {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.pokemon-1 {
    background: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)),
        url(../img/hoenn.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        width: 250px;
        border-radius: 10px;
        padding: 25px;
        margin-bottom: 20px;
}

.pokemon-2 {
    background: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)),
        url(../img/startersimg.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        width: 250px;
        border-radius: 10px;
        padding: 25px;
        margin-bottom: 20px;
}

.pokemon-3 {
    background: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)),
        url(../img/campeonimg.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        width: 250px;
        border-radius: 10px;
        padding: 25px;
        margin-bottom: 20px;
}

.pokemon-4 {
    background: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)),
        url(../img/contacto.jpeg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        width: 250px;
        border-radius: 10px;
        padding: 25px;
        margin-bottom: 20px;
}

.pokemon-txt h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.pokemon-txt p {
    color: #e1e1e1;
}

.video {
    padding: 150px 0;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url(../img/zera\ fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.video-content {
    display: flex;
    align-items: center;
}

.video-1 {
    width: 50%;
    padding-right: 70px;
}

.video-2 {
    width: 50%;
    display: flex;
}

.v1 {
    width: 300px;
    margin-right: 25px;
    border-radius: 10px;
}

.v2 {
    width: 300px;
    border-radius: 10px;
}

/* ----------------------- INDEX MAIN FIN ------------------- */

/* ----------------------- INDEX FOOTER/FORMR INICIO ------------------- */


.footer-bg {
    text-align: center;
    padding: 100px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo-1 {
    margin-bottom: 15px;
}

.campo {
    margin: 5px;
    padding: 20px 15px;
    width: 250px;
    background-color: #0e0e0e;
    border: 1px solid #13975e;
    outline: none;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 14px;
}

textarea {
    width: 520px !important;
}

.footer-txt {
    text-align: center;
    padding: 20px;
    background-color: #070707;
}

/* ----------------------- INDEX FOOTER/FORM FIN ------------------- */

/* ----------------------- CAMPEONES MAIN INICIO ------------------- */

.trainer {
    padding: 100px;
    align-items: center;
    text-align: center;
}

.trainer-img {
    width: 100%;
}

.trainer-img img {
    width: 300px;
}

.trainer-img{
    width: 100%;
}

.trainer-imgazul {
    width: 100%;
}

.trainer-imgazul img {
    width: 1000px;
}

/* ----------------------- INICIALES MAIN INICIO ------------------- */

.iniciales {
    padding: 100px;
    align-items: center;
    text-align: center;
}
h3 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-size: 40px;
    line-height: 95px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.iniciales-img {
    width: 100%;
}

.iniciales-img img {
    width: 400px;
}

.iniciales-img2 {
    width: 100%;
}

.iniciales-img2 img {
    width: 1200px;
    margin-top: -110px;
}

/* ----------------------- INICIALES MAIN FIN ------------------- */

/* ----------------------- MOBILE INDEX INICIO ------------------- */

@media(max-width:991px) {

    .menu {
        padding: 20px;
    }

    .menu label {
        display:initial
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #161815;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        flex-direction: column;
        padding: 100px 30px 30px 30px;
    }

    .header-txt {
        width: 100%;
        text-align: center;
    }

    .header-txt h1 {
        font-size: 80px;
        line-height: 90px;
        margin-bottom: 15px;
    }

    .header-txt p {
        border: 0;
        padding: 0;
        margin-bottom: 15px;
    }

    .btn-1 {
        margin: 20px 0;
    }

    .header-img {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        margin-top: 25px;
    }

    .header-img a {
        margin: 0 10px;
    }

    .pokemon {
        padding: 30px;
    }

    h2 {
        font-size: 60px;
        line-height: 70px;
    }

    .pokemon-content {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .video {
        padding: 30px;
    }

    .video-content {
        flex-direction: column;
    }

    .video-1 {
        width: 100%;
        padding-right: 0;
        text-align: center;
    }

    .video-2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .v1, .v2 {
        width: 250px;
        margin: 0 0 20px 0;
    }

    .footer-bg {
        padding: 30px;
    }

    textarea {
        width: 250px !important;
    }

    .footer-txt {
        padding: 30px;
    }

}


/* ----------------------- MOBILE INDEX FIN ------------------- */


/* ----------------------- REGIONES MAIN INICIO ------------------- */

.region1 {
    padding:100px 0;
    background-color: #161815;
}

.region1-content {
    display: flex;
    position: relative;
}

.region1-img {
    padding: 60px 0 0;
    width: 60%;
    text-align: center;
}

.region1-img img {
    width: 500px;
}

.region1-txt {
    width: 40%;
}

/* ----------------------- REGIONES MAIN FIN ------------------- */

/* ----------------------- FOOTER REGIONES INICIO ------------------- */

.footer-regiones {
    border-top: 2px solid #070707;
    padding: 50px 0 0 0;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.socials-2 img {
    width: 30px;
    margin: 10px;
}

.link h3 {
    font-size: 22px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.link a {
    font-size: 18px;
    display: block;
    color: #c4c4c4;
    margin-bottom: 20px;
}

.link a:hover {
    color: #13975e;
}

.footer-copy {
    padding: 25px 0;
    text-align: center;
    border-top: 1px solid #FFFFFF;
}

.footer-copy p {
    color: #FFFFFF;
    font-size: 16px;
    margin: 0;
}

/* ----------------------- FOOTER REGIONES FIN ------------------- */

/* ----------------------- MOBILE REGIONES INICIO ------------------- */

@media(max-width:991px) {

.region1 {
    padding: 30px;
}

.region1-content {
    flex-direction: column;
}

.region1-img {
    width: 100%;
    order: 2;
}

.region1-img img {
    width: 400px;
}

.region1-txt {
    width: 100%;
    align-items: center;
    border-top: 2px solid #FFFFFF;
}


.footer-regiones {
    padding: 30px 30px 0 30px;
}

.footer-links {
    flex-direction: column;
    text-align: center;
}




}